html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
<<<<<<< HEAD
  font-size: 12px;
=======
  font-size: 16px;
>>>>>>> 30898c924a39b8521be8222cad79134a455a3f6e
}

